@tailwind base;
@tailwind components;
@tailwind utilities;
  

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap');


  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px;
  background-color: #202d36;
  color:white;
  overflow:hiddden;
  
}


.dark-theme{
  background-color: #202d36;
  color:white;
}


.light-theme {
  background-color: #ffffff;
  color: #202d36;
}

 

.details.light-theme{
  background-color:white;
  text:gray;
}



.img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom:40px;
  
}

.icon {
  
  color:white;
}


.h1{
  color: #FFF;
font-family: Nunito Sans;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.form{
  width: 480px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #2B3844;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  margin-top:20px;
  margin-bottom:20px;
  
}
.filter.region{
  color: #FFF;
font-family: Nunito Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
}
.select{
 width: 200px;
height: 56px;
flex-shrink: 0;border-radius: 5px;
background: #2B3844;
box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);

}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .form{
    width: 100%;
    height: 48px;
    flex-shrink: 0;
  }
  .filter-form{
    display:flex;
    flex-direction:column;
    gap:2px;
    

  }
  .select{
    align-items:flex-start;
  }
  .header{
    display: flex;
    align-items:center;
    justify-content: space-between;
  }
  /*.header{
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    width: 375px;
    height: 80px;
    flex-shrink: 0;
    display:flex;
    align-items:center;
    justify-content:space-between;

  }*/
  .img{
    width: 303.858px;
    height: 160px;
    flex-shrink: 0;

  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .filter-form{
    width:100%;
    
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  /*.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 80px;
    flex-shrink: 0;
    background: #2B3844;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    color:#FFF;
  
  }*/
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color:white;
    background: #2B3844;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    height:80px;
  }

  .h1{
    color: #FFF;
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }
  .form{
    width: 480px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #2B3844;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    margin-top:20px;
    margin-bottom:20px;
    
  }
  .filter.region{
  
    color: #FFF;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  }
  .select{
   width: 200px;
  height: 56px;
  flex-shrink: 0;border-radius: 5px;
  background: #2B3844;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .filter-form{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  


  .img{
width: 100%;



  }
  .h2{
    width:240px;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
  }
  .span{
color: #FFF;
font-family: Nunito Sans;
font-size: 14px;
font-style: normal;
font-weight:300;
line-height: 16px; 
  }
 /* .country-card{
border-radius: 5px;
background: #2B3844;
box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
width: 264px;
flex-shrink:0;
height:336px;

padding-bottom:20px;
  }
  /*.lists{
color: #FFF;
font-family: Nunito Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 16px;
justify-content:space-around;

  }*/
}

.details {
  background-color: #2b3743;
  margin-top: -20px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-bottom:40px;
  
  
}


.details h2 {
  padding-bottom: 10px;
}

.lists {
  list-style: none;
  padding-bottom: 5px;
  gap:2;
}

